<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="field col.xs-2">
      <%= f.label :name %>:<%= f.text_field :name %>
    </div>
    <div class="field col.xs-10">
      <%= f.label :memory %>:<%= f.text_field :memory %>
    </div>
  </div>
  <div class="row">
    <div class="field col.xs-4">
      <%= f.label :date %><br>
      <%= f.date_select :date %>
    </div>

    <div class="field col.xs-4">
      <%= f.label :mood %>:<%= f.select :mood, options_for_select([1,2,3,4,5],@entry.mood), include_blank: :true %>
    </div>
    <div class="field col.xs-4">
      <%= f.label :weight %>:<%= f.text_field :weight%>
    </div>
  </div>
  <div class="row">
    <div class="actions">
      <%= f.submit 'Save memory!', class: "btn btn-success btn-sm" %>
    </div>
  </div>
<% end %>
