<div class="container">
  <div class="container-fluid">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Rememdays</h1>

      <%#= pie_chart Entry.group(:mood).count %>
      <%#= line_chart Entry.group(:id).group(:name).group(:weight) %>
      <%= react_component('AddEntryForm') %>

      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Name</th>
            <th class="visible-sm visible-md">Date</th>
            <th>Memory</th>
            <th class="hidden-xs hidden-sm">Mood</th>
            <th class="hidden-xs hidden-sm">Weight</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @entries.each do |entry| %>
            <tr>
              <td><%= react_component('Avatar', {entry: entry}) %></td>
              <td class="visible-sm visible-md"><%= entry.the_date && entry.the_date.to_formatted_s(:short) %></td>
              <td><%= entry.memory %></td>
              <td class="hidden-xs hidden-sm">
                <%= react_component('Mood', {mood: entry.mood, clickable: true, weight: entry.weight}) %>
              </td>
              <td class="hidden-xs hidden-sm"><%= entry.weight %></td>
              <td>
                <%= link_to entry do %>
                  <i class="fa fa-hand-o-right"></i>
                <% end %>
              </td>
              <td><%= link_to edit_entry_path(entry) do %>
                    <i class="fa fa-pencil"></i>
                  <% end %>
              </td>
              <td>
                <%= link_to entry, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fa fa-remove"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= will_paginate @entries, class: 'pull-right' %>
    </div>
  </div>
</div>
