<div class="col-sm-8 col-sm-offset-2">
  <h1>Rememdays</h1>

  <%= react_component('Entry', {name: 'John'}) %>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Memory</th>
        <th>Mood</th>
        <th>Weight</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @entries.each do |entry| %>
        <tr>
          <td><%= entry.name %></td>
          <td><%= entry.date %></td>
          <td><%= entry.memory %></td>
          <td><%= react_component('Mood', {mood: entry.mood}) %></td>
          <td><%= entry.weight %></td>
          <td>
            <%= link_to entry do %>
              <i class="fa fa-hand-o-right"></i>
            <% end %>
          </td>
          <td><%= link_to edit_entry_path(entry) do %>
                <i class="fa fa-pencil"></i>
              <% end %>
          </td>
          <td>
            <%= link_to entry, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-remove"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Entry', new_entry_path, class: "btn btn-info btn-sm" %>
  <%= will_paginate @entries, class: 'pull-right' %>
</div>
